<div 

style = "background-color:#02001c; text-align: center; border-radius:25px;">
<h1 style = "font-style:italic;color:white;">

sign up 

</h1>

<h2 style="color:red"> <%=@error%> </h2>


<form action ="/users" method ="POST">

<label for="username" style = "font-style:italic; color:white;">Username</lable>
<input type ="text" name="username" style=" border-radius:25px;">

<label for="password"style = "font-style:italic;color:white;">Password</lable>
<input type ="password" name="password" style=" border-radius:25px;">

  <input type="submit" value =" Sign Up"style=" border-radius:25px; background-color:orange;font-style:italic;">

</form>

</div>