<h1> Welcome to moneyTracker</h1>
<div  >
<img  class ="im" src= "images/money_traker.png" alt = "moneyTracker">


<div style = "text-align: center; border-radius:25px;backgroung-color:#02001c">

<a style ="text-decoration:none;border-radius:25px; color:orange; border: solid black;" href="/signup" style = "font-style:italic;color:white;">sign up</a>

<a  style ="text-decoration:none;border-radius:25px; color:orange;border: solid black;" href="#" style = "font-style:italic;color:white;">log in</a>

<h2 style="color:red"> <%=@error%> </h2>
</div>

</div>

<style>
.im{width:150px;
height:150px;}

</stryle>